
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
  text-align:center;
}

div img{
    width:100%;
    display:block;
    margin:auto;
    aspect-ratio: 1/1;

}

div{
  display: block;
  width: 100%;
  margin: 5px;
  padding: 2px;
  justify-content: center;
}

@media screen and (min-width:772px) {
    body{
        background-color: aquamarine;
    }
    div{
        display: inline-block;
        width: 45%;
        margin: 0 auto;
    }
    div img{
        max-height: 30%*vh;
        display: inline-block;
    }
}

@media screen and (min-width:998px){
    body{
        background-color: yellow;
    }

    div{
        display: inline-block;
        width: 30%;
    }
}



























/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */